.popup {
  background-color: $white;
  max-width: 57.5rem;
  margin: 0 auto;
  position: relative;
  
  .mfp-close {
    display: block;
    width: 3.25rem;
    height: 3.25rem;
    padding: 0;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: 300;
    opacity: 1;
    color: $white;
    top: 1.125rem;
    right: 1.5rem;
    @include linear-gradient(180deg, color-level(action, -4), color-level(action, 5));
  }
}

.popup__header {
  display: flex;
  background-color: $green-secondary;
  padding: 1.125rem 6rem 1.125rem 2.5rem;
  
  & > * {
    flex-grow: 1;
  }
}

.popup__content {
  padding: 1.5rem 2.5rem 2.5rem;
  background-color: color-level(muted, -6);
}